#main-header {
    background-color: #00AEEF;
}

#main-header {
    margin-bottom: 0;
}

#search-container {
    height: 50px;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.2), 0 3px 3px -2px rgba(0,0,0,0.14), 0 1px 8px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.2), 0 3px 3px -2px rgba(0,0,0,0.14), 0 1px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.2), 0 3px 3px -2px rgba(0,0,0,0.14), 0 1px 8px 0 rgba(0,0,0,0.12);
}

/*#listings-row {*/
    /*overflow-y: scroll;*/
/*}*/

#listings-column {
    height: 100%;
    overflow-y: scroll;
}

#map-parent {
    height: 100%;
}

#top-row {
    margin-top: 20px;
}

.search-icon-box {
    background-color: transparent;
}

.listing {
    height: 150px;
    border: 1px solid silver;
}

.listing:hover {
    background: aliceblue;
}

.advance-btn {
    background: none;
    border: none;
    vertical-align: -webkit-baseline-middle;
    width: 100%;
    color: #00AEEF;
}

#search-btn {

}

#search-menu-btn {
    height: 50px; display: flex; align-items: center;
}

#search-menu-btn i {
    margin-right: 10px;
}

#search-menu-btn:hover {
    cursor: pointer;
        border-radius: 10px;
    background: lightcoral;
    padding: 10px;
}

#brand-img {
    margin-right: 10px;
}

.open {
    width: 300px;
}

#search-menu input {
    width: 80%;
    margin: 0 auto;
    background: transparent;
    color: white;
}

#search-menu input::placeholder {
    color: white;
}

#search-menu select {
    width: 80%;
    margin: 0 auto;
    background: transparent;
    color: white;
}

#search-menu select option {
    color: white;
    background: #2e353d;
}


