html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

#map-container {
    height: 100%;
}

#brand-img {
    height: -webkit-fill-available;
}

.width-full {
    width: 100%;
}

#search-input {

}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}



