<nav id="main-header" class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">

          <img id="brand-img" src="http://phillyresidence.com/wp-content/themes/houzez/images/logo/logo-houzez-white.png">
      </a>

      <div id="search-menu-btn" data-bind="click: toggleSearch">
          <i class="fas fa-bars" style="color: white;"></i>
          <span style="color: white;">Search Menu</span>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</nav>