{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/css/index.css">
{% endblock head %}

{% block content %}
    {% include 'index_header.html' %}

    {% include 'searchbar.html' %}


    <div id="main-container" class="container-fluid">

        <div id="top-row" class="row">
            <div id="listings-column" class="col-xs-6">
                <div id="listings-container">
                    <div>
                        <p class="lead" data-bind="text: $root.current_title"></p>
                    </div>
                    <div id="listings-row" class="row">
                        <!-- ko foreach: current_listings -->
                            <div class="col-xs-12">
                                <div class="listing" data-bind="click: $root.propertyClicked">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <p>Price: <span data-bind="text: $data.ListPrice"></span></p>
                                        </div>
                                        <div class="col-xs-2">
                                            <p>City: <span data-bind="text: $data.City"></span></p>
                                        </div>
                                        <div class="col-xs-2">
                                            <p>ZipCode: <span data-bind="text: $data.PostalCode"></span></p>
                                        </div>
                                    </div>
                                    <img data-bind="attr: {src: $data.ListPictureURL}, click: $root.setCurrentView($data)" width="50" height="50">
                                </div>
                            </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <div id="map-parent" class="col-xs-6">
                <div id="map-container">

                </div>
            </div>
        </div>

        <!-- /ko -->
    </div>
{% endblock content %}

{% block footer %}

{% endblock footer %}

{% block footer_scripts %}
    {{ super() }}

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoEAIF7HlYPiHgf7xNDsQf8NXN5Pzlb2k"></script>
{#  <script src="https://maps.googleapis.com/maps/api/js?libraries=places,geometry"></script>#}
    <script>

        jQuery("#city-dropdown li").click(function() {
            jQuery("#city-selected").text(jQuery(this).find(".text").text());
        });

        jQuery("#property-dropdown li").click(function() {
            jQuery("#property-selected").text(jQuery(this).find(".text").text());
        });

        function createMap() {
            var mapContainer = document.getElementById("map-container");
            mapParent = document.getElementById("map-parent");
            jQuery(mapParent).css("height", jQuery(window).height());
            return new google.maps.Map(mapContainer, {});
        }

        function createBounds(lat, lng) {
            return new google.maps.LatLngBounds(
                new google.maps.LatLng(lat, lng)
            );
        }

        function addDomListener(element, eventType, callBackFunction) {
	        google.maps.event.addDomListener(element, eventType, callBackFunction);
        }

        function initializeMap() {
            map = createMap();
            var bounds = createBounds(39.952583,-75.165222);
            map.setCenter(bounds.getCenter());
            map.setZoom(6);
        }

        addDomListener(window, 'load', initializeMap);

        window.onresize = function() {
            jQuery("#map-parent").css("height", jQuery(window).height());
            {#jQuery("#listings-column").css("height", jQuery(window).height());#}
            jQuery("#top-row").css("height", jQuery(window).height());
        };

        window.onresize();

        indexViewModel.initialize();
        ko.applyBindings(indexViewModel);

        document.getElementById("price-slider").onchange = function() {
            console.log(jQuery("#price-selected").text("$" + jQuery("#price-slider").val()));
        }

    </script>



    <script src="/js/index.js"></script>


{% endblock footer_scripts %}

