

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div  id="search-menu" class="nav-side-menu" style="margin-top: 50px;">
    <div class="brand text-center"><i class="fas fa-search" style="margin-right: 12px;"></i>Search</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                <li data-toggle="collapse" data-target="#basic-search" class="collapsed">
                  <a href="#">
                  <i class="fa fa-home fa-lg"></i> Basic Search<span class="arrow"></span>
                  </a>
                </li>

                <ul id="basic-search" class="sub-menu collapse">
                    <input type="text" class="form-control" placeholder="Enter property ID">
                    <input type="text" class="form-control" placeholder="Enter address, city, or zip">
                </ul>

                <li data-toggle="collapse" data-target="#advanced-search" class="collapsed">
                  <a href="#">
                      <i class="fa fa-home fa-lg"></i> Advanced Search<span class="arrow"></span>
                  </a>
                </li>

                <ul id="advanced-search" class="sub-menu collapse">
                    <select id="property-type" class="form-control">
                        <option selected>All Properties</option>
                        <option value="">Land</option>
                        <option value="">Commercial Lease</option>
                        <option value="">Commercial Sale</option>
                        <option value="">Business Opportunity</option>
                        <option value="">Residential</option>
                        <option value="">Residential Lease</option>
                        <option value="">Farm</option>
                        <option value="">Rinc</option>
                    </select>

                    <select id="status-type" class="form-control">
                        <option selected>Listing Status</option>
                        <option>Active</option>
                    </select>

                    <select id="beds" class="form-control">
                        <option selected>Beds</option>
                        <option >1</option>
                        <option >2</option>
                        <option >3</option>
                        <option >4</option>
                        <option >5</option>
                        <option >6</option>
                        <option >7</option>
                        <option >8</option>
                        <option >9</option>
                        <option >10</option>
                        <option >Any</option>
                    </select>

                    <select id="baths" class="form-control">
                        <option selected>Baths</option>
                        <option >1</option>
                        <option >2</option>
                        <option >3</option>
                        <option >4</option>
                        <option >5</option>
                        <option >6</option>
                        <option >7</option>
                        <option >8</option>
                        <option >9</option>
                        <option >10</option>
                        <option >Any</option>
                    </select>

                    <input type="text" class="form-control" placeholder="Min Area (sqft)">
                    <input type="text" class="form-control" placeholder="Max Area (sqft)">

                    <p style="padding: 10px; text-align: center"><span class="range-title">Price Range:</span> From <span class="min-price-range">$516,611</span> to <span class="max-price-range">$2,500,000</span></p>
                    <input type="range" id="price-slider" name="volume"
                    min="200" max="2500000" value="200" />

                    <p id="price-selected" style="color: white; text-align: center;"></p>

                </ul>


                <button class="btn btn-primary form-control">Search</button>
            </ul>
     </div>
</div>